fastapi==0.129.0
uvicorn==0.41.0
jinja2==3.1.6
python-multipart==0.0.22
gunicorn==24.0.0



google-genai==1.62.0
google-api-python-client==2.189.0
google-auth==2.48.0
google-auth-oauthlib==1.2.4

python-dotenv==1.0.1

dateparser==1.3.0

